body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;        
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  /* Heading */
  .heading {
    margin: 0 0 12px;
    color: #333;
    text-align: center;
  }
  
  #customValidationForm {
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: calc(100% - 40px);
    background: #FBFFF1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    box-sizing: border-box;
  }
  
  #customValidationForm label {
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  #customValidationForm input[type="text"],
  #customValidationForm input[type="email"],
  #customValidationForm input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  #customValidationForm input.invalid,
  /* #customValidationForm input:invalid  */{
    border-color: red;
    background-color: #ffe0e0;
  }
  
  #customValidationForm input.valid,
  #customValidationForm input:valid {
    border-color: green;
  }
  
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 3px;
    min-height: 1em;  
    display: block;
  }
  
  #customValidationForm button[type="submit"] {
    background-color: #090C9B;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 12px;
  }
  
  #customValidationForm button[type="submit"]:hover {
    background-color: #B4C5E4;
  }
  
  #customValidationForm input:focus:invalid {
    outline: none;
  }
  
  #header{
    color: #3066BE;
  }